DATABASE_URL=
APP_BASE_URL=http://localhost:3000
PORT=3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACULTY_INVITE=prephaat-faculty
AWS_ENDPOINT_URL_S3=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
